.contact-container {
  /* border: 1px solid red; */
  /* height: 320px; */
  /* background-color: #f9f6ee; */
}

.contact-header {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: black;
  margin-top: 15px;
}

contact-details {
  /* border: 1px solid red; */
}

.contact-data {
  /* border: 1px solid red; */
  padding: 5px;
}

.headd {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.headd h4 {
  color: blue;
}

.dataa {
  font-size: 18.5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 200;
  margin-top: 10px;
}

.contact-data {
  /* border: 0.1px solid gray; */
}

.contact-left {
  font-size: 22px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.contact-left h4 {
  margin-left: 15px;
  font-size: 21px;
  font-weight: 500;
}
